@model hospitalwebapp.Models.StaffAccount



@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}


<!-- Main Body Content Section -->

<section>

    <div class="container-fluid mb-0 border-dark">

        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger">@ViewBag.Error</div>
        }

        <!-- ############ Beginning of Login Snippets ############### -->


        <div class="container mynewlogin-mode">


            <!-- rgba( 3, 52, 93 ,0.5) -->
            <div class="row">

                <div class="col-sm-12 col-md-8 justify-content-center login-frame mx-auto">


                    <div class="container col-sm-12 col-md-8">

                        <form action="/Account/Login" method="post" class="form-group">
                            @Html.AntiForgeryToken()

                            <div class="mt-5">
                                <!-- Email address textbox -->
                                <div class="input-group mt-4 mb-3 col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    </div>
                                    @*<input type="text" value= "" class="form-control form-control-user txt-email" id="login-email" aria-describedby="emailHelp" placeholder="Username" required="">*@

                                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control form-control-user txt-email" } })
                                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                                </div>

                                <!-- Password textbox -->


                                <div class="input-group mt-4 mb-3 col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    </div>
                                    @*<input type="password" value="" class="form-control form-control-user txt-password" id="password" placeholder="Enter Password" required="">*@

                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control form-control-user txt-password" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                                </div>


                                <!--  <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <input type="password" class="form-control form-control-user txt-password" id="password" placeholder="Enter Password" required="">
        </div> -->


                                <div class="form-group">
                                    <div class="custom-control custom-checkbox small">
                                        <input type="checkbox" class="custom-control-input" id="customCheck">
                                        <label class="custom-control-label bg-faded text-primary" for="customCheck">Remember Me</label>
                                    </div>
                                </div>

                                <div>
                                    <input type="Submit" value="Login" class="btn col-10 btn-primary btn-user btn-block mx-auto" style="border-radius: 20px" />


                                </div>

                                <hr>

                                <div class="text-center">
                                    <a class="small" href="ForgotPassword">Forgot Password?</a>
                                </div>

                                <!-- Link to create an account with modal -->

                                <div class="text-center">
                                    <a class="small" href="" data-toggle="modal" data-target="#userRegisterModal">Create an Account?</a>
                                </div>

                            </div>

                        </form>



                        <!-- The Modal -->
                        <section class="row">

                            <form action="" method="post" class="modal fade form-group font-weight-normal" id="userRegisterModal" style="color:black">

                                <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h5 class="modal-title">User Registration</h5>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body" style="font-size: 0.75em; background-color: lightgrey;">

                                            <!-- Form Elements Here-->

                                            <div class="container-fluid row mx-auto">


                                                <div class="col-8" style="background-color: lightgrey;">

                                                    <!-- User type -->
                                                    <div class="form-group col-xs-12 col-sm-12 col-md-10 col-lg-10">
                                                        <label for="Utype">Select User:</label>
                                                        <select class="form-control" id="Utype">
                                                            <option value="Admin" selected="">Admin</option>
                                                            <option value="Patient">Patient</option>
                                                            <option value="Doctor">Doctor</option>
                                                            <option value="Nurse">Nurse</option>
                                                            <option value="Reception">Reception</option>
                                                            <option value="Pharmacy">Pharmacy</option>
                                                        </select>
                                                    </div>


                                                    <!-- Authenticate password -->


                                                    <div class="form-group col-xs-12 col-sm-12 col-md-10 col-lg-10">
                                                        <label for="Authorized-username">Authorized:</label>
                                                        <input type="text" class="form-control" id="Authorized-username" placeholder="Authorized username" required="" autofocus="">
                                                    </div>


                                                    <div class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                                        <label for="passkey">Pass Key:</label>
                                                        <input type="password" class="form-control" id="passkey" placeholder="Pass key" required="">
                                                    </div>


                                                    <div class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                                        <label for="user-id" id="user-id-label">User Id:</label>
                                                        <input type="text" class="form-control" id="user-id" placeholder="Enter user Id" required="">
                                                    </div>


                                                    <div class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                                        <label for="lastname">Last name:</label>
                                                        <input type="text" class="form-control" id="lastname" placeholder="Enter last name" required="">
                                                    </div>


                                                    <div class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                                        <label for="othernames">Other names:</label>
                                                        <input type="text" class="form-control" id="firstname" placeholder="Enter other names" required="">
                                                    </div>


                                                    <!-- Email address textbox -->
                                                    <div class="input-group col-xs-10 col-sm-10 col-md-10 col-lg-10 mb-4 mt-5">

                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                                        </div>
                                                        <input type="email" class="form-control form-control-user" id="login-email" aria-describedby="emailHelp" placeholder="Email address">
                                                    </div>


                                                    <div class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                                        <label for="password">Password:</label>
                                                        <input type="password" class="form-control" id="password" placeholder="Password" required="">
                                                    </div>


                                                    <div class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                                        <!-- Date input -->
                                                        <label class="control-label" for="dob">Date of Birth</label>
                                                        <input class="form-control" id="dob" name="date" placeholder="MM/DD/YYYY" type="text" maxlength="10" />
                                                    </div>


                                                    <div class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                                        <label for="age">Age:</label>
                                                        <input type="text" class="form-control" id="age" placeholder="Enter Age" required="">
                                                    </div>

                                                    <!-- Gender Div -->
                                                    <div class="form-group col-xs-12 col-sm-12 col-md-10 col-lg-10 mt-1">
                                                        <label for="genderTag">Gender:</label><br>

                                                        <div class="form-check-inline col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                            <input type="radio" class="form-check-input mb-2 mr-2" id="male" name="gender" value="male" required="">
                                                            <label for="male">Male</label><br>
                                                        </div>

                                                        <div class="form-check-inline col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                            <input type="radio" class="form-check-input mb-2 mr-2" id="female" name="gender" value="female" required="">
                                                            <label for="female">Female</label><br>
                                                        </div>

                                                    </div>  <!-- End of Gender Div -->
                                                    <!-- Gender Div -->
                                                    <div class="form-group col-xs-12 col-sm-12 col-md-10 col-lg-10 mt-1">
                                                        <label for="religionTag">Religion:</label><br>

                                                        <div class="form-check-inline col-xs-12 col-sm-12 col-md-4 col-lg-3 mr-5">
                                                            <input type="radio" class="form-check-input mb-2 mr-2" id="christianity" name="religion" value="christianity" required="">
                                                            <label for="christianity">Christianity</label><br>
                                                        </div>

                                                        <div class="form-check-inline col-xs-12 col-sm-12 col-md-4 col-lg-3">
                                                            <input type="radio" class="form-check-input mb-2" id="islam" name="religion" value="islam" required="">
                                                            <label for="islam">Islam</label><br>
                                                        </div>


                                                        <div class="form-check-inline col-xs-12 col-sm-12 col-md-4 col-lg-3">
                                                            <input type="radio" class="form-check-input mb-2" id="other" name="religion" value="other" required="">
                                                            <label for="other">Other</label><br>
                                                        </div>

                                                    </div>  <!-- End of Gender Div -->
                                                    <!-- Marital Status -->
                                                    <div class="form-group col-xs-12 col-sm-12 col-md-10 col-lg-10">
                                                        <label for="marital-status">Marital Staus:</label>
                                                        <select class="form-control" id="marital-status">
                                                            <option value="Single" selected="">Single</option>
                                                            <option value="Married">Married</option>
                                                            <option value="Divorced">Divorced</option>
                                                        </select>
                                                    </div>

                                                    <!-- Occupation -->
                                                    <div class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                                        <label for="occupation">Occupation:</label>
                                                        <input type="text" class="form-control" id="occupation" placeholder="Occupation" required="">
                                                    </div>

                                                    <!-- Home Address -->
                                                    <div class="input-group col-xs-10 col-sm-10 col-md-10 col-lg-10 mb-4 mt-5">

                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fa fa-home"></i></span>
                                                        </div>
                                                        <input type="text" id="address" name="address" class="form-control" placeholder="Home Address" required="">
                                                    </div>

                                                    <!-- Mobile Contact -->
                                                    <div class="input-group col-xs-10 col-sm-10 col-md-10 col-lg-10 mb-2 mt-5">

                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fa fa-phone"></i></span>
                                                        </div>
                                                        <input type="text" id="phone" name="phone" class="form-control" placeholder="222-222-2222" maxlength="12" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required="">
                                                    </div>


                                                    <!-- Next of Kin -->
                                                    <div class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                                        <label for="next-of-kin">Next-of-Kin:</label>
                                                        <input type="text" class="form-control" id="next-of-kin" placeholder="Next-of-Kin" required="">
                                                    </div>



                                                </div>


                                                <!-- Body segment Two -->

                                                <div class="col-4" style="padding: 10px; background-color: lightgrey; width: 100%;">
                                                    <!-- this is another section ....for picture  -->
                                                    <!-- Image caption here -->
                                                    <div class="img-fluid mx-auto row mt-4" style="width: 140px; height: 140px; background-color: white; padding: 2px;">
                                                        <img src="" id="preview" class="img-fluid" alt="" style="width: 100%; height: 100%; border-width: 5px;">

                                                    </div>

                                                    <br><br>

                                                    <div>

                                                        <div class="custom-file">
                                                            <input type="file" class="custom-file-input browse" id="myfile" accept="images/*" name="img[]">
                                                            <label class="custom-file-label" for="myfile"><span id="file">Choose file</span></label>
                                                        </div>

                                                        <!-- Binding the image stream file name to this paragraph -->
                                                        <p id="test"></p>

                                                    </div>

                                                </div>

                                                <!-- Submit Button -->

                                                <div class="container form-group mt-5 col-12" style="text-align: center;">
                                                    <button type="submit" class="btn btn-primary" id="btn-submit">Submit</button>
                                                </div>


                                            </div>


                                        </div> <!--End of Modal Body-->
                                        <!-- Modal footer -->
                                        <!-- <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div> -->

                                    </div>


                                </div>



                            </form>

                        </section>



                    </div>


                </div>


            </div>


        </div>






        <!-- ############# End of Login Snippets###################### -->

    </div>


</section>    <!-- End of Main content Section-->
