@model IEnumerable<hospitalwebapp.Models.StaffAccount>

<hr />
@if (Session["StaffId"] != null)
{

   @* @{*@
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
   @* }*@

    @*Only an Admin can have access to this view*@



    <h4>Welcome @Session["Username"].ToString()</h4>

    @*Rendering Body Here*@

    <div class="container" style="margin-bottom: 5rem;">
        <h1 class="font-weight-bold">Registered Staff List</h1>
        <br />
        <br />

        <div class="table-responsive" style="font-size:0.8rem;">
            <table class="table table-striped table-active">

                <tr style="background-color: rgba( 26, 63, 124, 0.7); color: white;">

                    <th>
                        @Html.DisplayNameFor(model => model.StaffId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StaffGender)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Profession)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StaffDepartment)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateOfBirth)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Username)
                    </th>
                    <th></th>

                </tr>

                @foreach (var item in Model)
                {
                    var Id = item.StaffId;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StaffId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StaffGender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profession)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StaffDepartment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.StaffId }) |
            @Html.ActionLink("Details", "Details", new { id = item.StaffId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.StaffId })*@

                    <a href="/Account/EditStaff/@Id" class="btn btn-success btn-small"><i class="fa fa-edit mr-1" aria-hidden="true"></i></a>
                    <a href="/Account/StaffProfile/@Id" class="btn btn-primary btn-small"><i class="fa fa-eye mr-1" aria-hidden="true"></i></a>
                    <a href="/Account/DeleteStaff/@Id" class="btn btn-danger btn-small"><i class="fa fa-trash mr-1" aria-hidden="true"></i></a>
                </td>
            </tr>

                }

            </table>
        </div>
    </div>
}






